<div class="campaings">
  <div class="w-100">
    <mat-card class="mat-elevation-z3">
      <mat-card-header class="float-left">
        <button color="primary" *ngIf="viewUpload === 'products'" matTooltip="Subir productos" matTooltipPosition="above" mat-button mat-icon-button type="button" (click)="viewUpload = 'upload'">
          <mat-icon>backup</mat-icon>
        </button>
        <button color="primary" *ngIf="viewUpload === 'products'" matTooltip="Historial de archivos subidos" matTooltipPosition="above" mat-button mat-icon-button type="button" (click)="viewUpload = 'history'">
          <mat-icon>hourglass_top</mat-icon>
        </button>
        <button color="warn" *ngIf="viewUpload !== 'products'" matTooltip="Cerrar" matTooltipPosition="above" mat-button mat-icon-button type="button" (click)="viewUpload = 'products'">
          <mat-icon>close</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content class="h-100">
        <!--Vista para subir el .csv y las imágenes-->
        <app-upload *ngIf="viewUpload === 'upload'"></app-upload>

        <!--Vista para mostrar la lista de productos-->
        <div *ngIf="viewUpload === 'products'">
          <table>
            <thead>
              <tr>
                <th scope="col" style="width: 100px">Código</th>
                <th scope="col">Imagen</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width: 100px">COD-003</td>
                <td>
                  <img class="rounded mat-elevation-z2" src="https://picsum.photos/100/100" alt="Plancha" height="100" width="100">
                </td>
                <td>Plancha azúl de 4 tiempos</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                <td>{{ '30.95' | currency }}</td>
                <td>
                  <mat-slide-toggle color="primary" [checked]="true"></mat-slide-toggle>
                </td>
                <td>
                  <button mat-button mat-icon-button type="button" matTooltip="Detalle del producto">
                    <mat-icon>visibility</mat-icon>
                  </button>
                  <button mat-button mat-icon-button type="button" matTooltip="Eliminar producto">
                    <mat-icon>remove</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!--Vista para mostrar el historial de actividades-->
        <div *ngIf="viewUpload === 'history'">
          <table>
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Detalle</th>
                <th scope="col" class="text-right">Nuevas</th>
                <th scope="col" class="text-right">Actualizadas</th>
                <th scope="col" class="text-right">Erradas</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <strong>07-12-2020 07:50</strong>
                </td>
                <td>
                  1 .csv y 45 imágenes
                </td>
                <td class="text-right">30</td>
                <td class="text-right">10</td>
                <td class="text-right">5</td>
              </tr>
              <tr>
                <td>
                  <strong>06-12-2020 07:50</strong>
                </td>
                <td>
                  30 imágenes
                </td>
                <td class="text-right">30</td>
                <td class="text-right">0</td>
                <td class="text-right">0</td>
              </tr>
              <tr>
                <td>
                  <strong>03-12-2020 07:50</strong>
                </td>
                <td>
                  1 .csv y 5 imágenes
                </td>
                <td class="text-right">4</td>
                <td class="text-right">1</td>
                <td class="text-right">0</td>
              </tr>
              <tr>
                <td>
                  <strong>01-12-2020 07:50</strong>
                </td>
                <td>
                  1 .csv y 100 imágenes
                </td>
                <td class="text-right">90</td>
                <td class="text-right">5</td>
                <td class="text-right">5</td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
