<div class="dashboard">

  <div class="inline-header">
    <div class="shadow-hover-effect bg-card-dashboard bg-card-1 header-card">
      <div class="text-center">
        <h1>45</h1>
        <p>
          <small>Total de e-mail enviados</small>
        </p>
      </div>
    </div>
    <div class="shadow-hover-effect bg-card-dashboard bg-card-2 header-card">
      <div class="text-center">
        <h1>30</h1>
        <p>
          <small>Total de e-mail abiertos <br> por el usuario</small>
        </p>
      </div>
    </div>
    <div class="shadow-hover-effect bg-card-dashboard bg-card-3 header-card">
      <div class="text-center">
        <h1>200</h1>
        <p>
          <small>Número de productos <br> que se están publicando</small>
        </p>
      </div>
    </div>
  </div>

  <div class="two-row">
    <div class="two-columns">
      <div class="shadow-hover-effect bg-card-dashboard p-1">
        <app-graph typeChart="bar"></app-graph>
      </div>
      <div class="shadow-hover-effect bg-card-dashboard p-1">
        <app-graph typeChart="doughnut"></app-graph>
      </div>
    </div>
    <div class="shadow-hover-effect bg-card-dashboard p-1">
      <app-graph typeChart="horizontalBar"></app-graph>
    </div>
  </div>
</div>
