$gap: 1.5rem;
.dashboard {
  display: grid;
  grid-template-rows: 150px auto;
  row-gap: $gap;
  margin-bottom: $gap;
  .inline-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: $gap;
    .header-card {
      display: grid;
      justify-content: center;
      align-content: center;
      color: white;
    }
    .bg-card-1 {
      background-color: var(--secondary-color);
    }
    .bg-card-2 {
      background-color: var(--primary-color);
    }
    .bg-card-3 {
      background-color: #bcafaa;
    }
  }
  .two-row {
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: $gap;
  }
  .two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $gap;
  }
}
.bg-card-dashboard {
  background-color: white;
  border-radius: 10px;
}
