.main {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 100px auto;
  width: 80%;
  margin-left: 10%;
}
.container-navbar {
  align-self: center;
}
.container-body {
  height: 100%;
  padding-bottom: 3rem;
}
