<div class="main">
  <div class="container-navbar">
    <app-navbar></app-navbar>
  </div>
  <div class="container-body">
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer-pages></app-footer-pages>
