.btn-upload {
  cursor: pointer;
  height: 200px;
  width: 200px;
  background-color: #f0eeef;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-content: center;
}
.btn-upload-inner {
  height: 170px;
  width: 170px;
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  grid-template-rows: 2fr 1fr;
  justify-content: center;
  align-content: center;
}
.img-logo-upload {
  height: 4rem;
  align-self: center;
  justify-self: center;
}
