<div class="btn-upload shadow-hover-effect">
  <div class="btn-upload-inner">
    <img class="img-logo-upload" src="assets/images/upload_file.svg" alt="UPLOAD FILE">
    <small class="text-muted">{{ indicatorButton }}</small>
  </div>
</div>
