.genuine-padding {
  padding-left: 10%;
  padding-right: 10%;
}
footer {
  width: 100%;
  background: var(--primary-color);
  .context-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    display: grid;
    column-gap: 20px;
    grid-template-columns: auto 2fr 1fr;
    align-items: center;
  }
  .credits {
    height: 50px;
    background-color: darken(#47729A, 20);
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    div {
      font-size: 0.6rem;
      color: white !important;
      a {
        color: white;
      }
    }
  }
}
.link {
  text-decoration: none;
}
.actions {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
}
