<footer>
  <div class="genuine-padding context-footer">
    <div>
      <img src="assets/logo_i_marketing_white.svg" alt="IMARKETING" height="100">
    </div>
    <div>
      <p>
        <small>
          Automatización de campañas publicitarias mediante un sistema de recomendación para clientes de la empresa Innobix S.A. para el periodo 2020 – 2021.
        </small>
      </p>
    </div>
    <div class="actions">
      <button mat-button type="button" class="text-uppercase item">Dashboard</button>
      <button mat-button type="button" class="text-uppercase item">Marketing</button>
    </div>
  </div>
  <div class="genuine-padding credits">
    <div>
      MÁSTER UNIVERSITARIO EN ANÁLISIS Y VISUALIZACIÓN DE DATOS MASIVOS / VISUAL ANALYTICS AND BIG DATA
    </div>
    <div class="text-right">
      <a class="link" target="_blank" href="https://www.innobix.com.ec/">INNOBIX</a>
    </div>
  </div>
</footer>
