.navbar {
  width: 100%;
  display: grid;
  grid-template-columns: 200px auto;
  align-items: center;
}
.container-buttons {
  justify-self: end;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.item {
  color: #676767;
  font-weight: 800;
  border-radius: 0 !important;
}
.item-active {
  color: var(--secondary-color);
}
