<nav class="navbar">
  <div>
    <img src="assets/logo_i_marketing.svg" alt="i-marketing" height="80">
  </div>
  <div class="container-buttons">
    <button mat-button type="button" class="text-uppercase item" [ngClass]="{ 'item-active': (router.url === '/') }" routerLink="/">Dashboard</button>
    <button mat-button type="button" class="text-uppercase item" [ngClass]="{ 'item-active': (router.url === '/campaings') }" routerLink="/campaings">Marketing</button>
  </div>
</nav>
