ngx-dropzone {
  display: none;
}
.upload {
  height: calc(100% - 40px);
  display: grid;
  grid-template-rows: auto 50px 100px 50px auto;
  grid-template-columns: auto 200px auto;
}
app-btn-upload {
  position: relative;
  grid-row: 2/5;
  grid-column: 2/3;
  z-index: 10;
}
.container-progress-bar {
  grid-row: 5/6;
  grid-column: 2/3;
  display: grid;
  align-content: center;
  text-align: center;
}
.bg-style {
  position: relative;
  grid-row: 3/4;
  grid-column: 1/4;
  background-color: var(--primary-color);
  z-index: 5;
}
