<ngx-dropzone #drop (change)="onSelect($event)"></ngx-dropzone>
<div class="upload">
  <app-btn-upload (click)="drop.showFileSelector()" [indicator]="indicator"></app-btn-upload>

  <div *ngIf="(files.length > 0) && showBtn" class="container-progress-bar">
    <button mat-button mat-stroked-button color="primary" class="text-uppercase" type="button" (click)="processFiles()">Procesar</button>
  </div>

  <div *ngIf="(files.length > 0) && !showBtn" class="container-progress-bar">
    <mat-progress-bar color="primary" mode="determinate" [value]="progressBar"></mat-progress-bar>

    <p>
      <strong>{{ progressBar | number:  '1.0-0' }}%</strong>
    </p>
  </div>

  <div class="bg-style"></div>
</div>
