@import "theme";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
html, body {
  height: 100%;
  background: var(--bg-light-color);
}
* {
  box-sizing: border-box !important;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
  --primary-color: #1dc2c2;
  --secondary-color: #ec8f01;
  --bg-light-color: #f3f7fa;
  --gray-color: #bdbfc2;
}
.shadow-hover-effect {
  -webkit-box-shadow: 0px 0px 39px -19px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 39px -19px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 39px -19px rgba(0,0,0,0.75);
  &:hover {
    -webkit-box-shadow: 0px 0px 39px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 39px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 39px -15px rgba(0,0,0,0.75);
  }
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.text-muted {
  color: #a7a7a9;
}
.text-right {
  text-align: right !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-center {
  text-align: center;
}
.rounded {
  border-radius: 5px;
}
.p-1 {
  padding: 1rem;
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
thead {
  border-bottom: 1px solid var(--gray-color);
}
thead th{
  width: auto;
  padding: 15px 5px;
  text-align: left;
}
tbody td {
  text-align: left;
  padding: 15px 10px;
  color: #404040 !important;
}
tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}
tbody tr:hover {
  background-color: #ecebeb;
}
