@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette((700: var(--primary-color), contrast: (700: $light-primary-text,)), 700);
$accent:  mat-palette($mat-gray, 700);
$warn:    mat-palette($mat-red, A700);

$orquidea-app-theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($orquidea-app-theme);
